* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: #3a1c71; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgba(255, 255, 255, 0.9);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wish {
  margin-bottom: -30px;
  font-size: 30px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  text-align: center;
}
.from {
  font-weight: 500;
}

.namee {
  font-size: 20px;
  color: white;
}

.namee:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.body:hover {
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.from {
  color: white;
}

.from:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.date {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: white;
}
